
/*GERAL*/
/*cores: vermelho(red)
         amarelo (#fcc30c)
*/

body{
	background-color: #47193b;
}


body, a{
	color: #fff;
}

section{
	width: 100%;
	display: block;
}

h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 35px;
}
h4{
    font-size: 25px;
}

.btn{
	width: 160px;

    clear: both;
	display: block;
	margin: 0 auto;
	border: 2px solid red;
	padding: 8px 24px;
	font-weight: bold;
	letter-spacing: 1px;
    text-align: center;
    background-color: none;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease; 
}

.btn:hover{
    width: 180px;
    background-color: red;
}

.v-controls{
    width: 130px;
    display: block;
    margin: -50px auto 20px auto;
/*
    position: relative;
    top: calc(90% - 100px);
    left: calc(50% - 10%);
*/
}
#mute-btn, #pause-btn{
    width: 55px;
    padding: 4px;
    text-align: center;
    margin: 0 0 0 4px;
    background: none;
    font-size: 10px;
    font-weight: bolder;
    border: 2px solid transparent;
    
    -webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease; 
}
#mute-btn:hover,#pause-btn:hover{
    border: 2px solid red;
}

@keyframes pulse{
    0%{
        -webkit-box-shadow: 0px 0px 6px 2px rgba(255, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 6px 2px rgba(255,0,0,0.75);
        box-shadow: 0px 0px 6px 2px rgba(02550,0,0.75);       
    }
    50%{
        -webkit-box-shadow: 0px 0px 25px 3px rgba(255,0,0,0.5);
        -moz-box-shadow: 0px 0px 25px 3px rgba(255,0,0,0.5);
        box-shadow: 0px 0px 25px 3px rgba(255,0,0,0.5); 
    }
    100%{
        -webkit-box-shadow: 0px 0px 70px 4px rgba(255,0,0,0);
        -moz-box-shadow: 0px 0px 70px 4px rgba(255,0,0,0);
        box-shadow: 0px 0px 70px 4px rgba(255,0,0,0);
    }
}

.pulse{
    animation: pulse .8s infinite;
    animation-timing-function: ease-out;
}


/**/

/*HEADER - MENU*/
.header{
	width: 100%;
	height: 100px;
	display: block;
	position: fixed;
	z-index: 5;
    display: none;
}

.header a.grid-2{
	background: url(../img/logo.png) no-repeat center;
    background-size: cover;
	height: 80px;
    width: 80px;
}

.header_menu{
	text-align: right;
    margin: 0 auto;
}

.header_menu ul li{
	display: inline-block;
    position: relative;
	padding: 6px 4px;
	margin: 0 -160px 0 10px;
    top: -40px;
    opacity: 0;
    visibility: hidden;
    
    -webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
.header_menu ul li:first-child{
    visibility: visible;
    opacity: 1;
    top: 0px;
    margin: 0 140px 0 10px;
}

.header_menu.expand ul li{
    margin: 0;
    top: -40px;
    opacity: 1;
    visibility: visible;
}
.header_menu.expand ul li:first-child{
    top: 0;
}

.header_menu ul li a{ 
    font-weight: 500;
	text-align: center;
	font-size: 16px;
	padding: 0 8px;
	border: 2px solid transparent;
	letter-spacing: 1px;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.header_menu ul li a.grid-2{
	background: url(../img/logo.png) no-repeat center;
    background-size: cover;
    padding: 0;
	border: none;
    
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease; 
}

.header_menu ul li a:hover{
    border: 2px solid red;
    padding: 8px;
    background-color: rgba(255, 0, 0, 0.5);
}

.header_menu ul li a.grid-2:hover{
    border: none;
    padding: 0;
    background-color: transparent;
}

.header_menu ul li a.menu_ativo{
    border: 2px solid #fcc30c;
    padding: 8px;
}

.burgermenu{
    float: right;
    display: block;
    z-index: 5;

    color: white;
    width: 80px;

    padding: 27px 0;
    margin-left: 20px;
    
    cursor: pointer;
    
    transition: all .4s ease;
    -webkit- transition: all .4s ease;
    -o- transition: all .4s ease;
    -moz- transition: all .4s ease;
}

.menubars{
    width: 25px;
    height: 4px;
    margin: 5px auto;
    background-color: white;
    opacity: 1;
    
    transition: all .2s ease;
    -webkit- transition: all .2s ease;
    -o- transition: all .2s ease;
    -moz- transition: all .2s ease;
}

.expand .menubars:nth-child(1){
    -webkit-transform: translateY(9px) rotate(405deg);
    transform: translateY(9px) rotate(405deg);
}

.expand .menubars:nth-child(2){
    opacity: 0;
}

.expand .menubars:nth-child(3){
    -webkit-transform: translateY(-9px) rotate(-405deg);
    transform: translateY(-9px) rotate(-405deg);
}

.burgermenu:hover .menubars:nth-child(2){
    transition: width .1s ease;
    -webkit- transition: width .1s ease;
    -o- transition: width .1s ease;
    -moz- transition: width .1s ease;
    width: 18px;
}

.expand .burgermenu:hover .menubars{
    width: 30px;
    background-color: red;
}
/*FIM-MENU*/

/*INTRO - VIDEO*/
.videoholder{
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}

.bg_video {
    position: relative;
    right: 0;
    top: 0;
    min-width: 100%;
    max-width: 100%;
    width: auto;
    z-index: -1000;
}
/**/

/*OQUEÉRIVAL*/
.oqueerival{
    display: block;
    position: relative;
    width: 100%;
    padding: 78px 0;
    background: url(../img/oqueerival-filter.png) no-repeat;
    background-size: 100% 860px;
    background-position: center;
    
}
.oqueerival h1{
    margin-bottom: 50px;
    line-height: 55px;
}

.oqueerival h1 span{
    font-size: 67px;
    color: #fcc30c;
    line-height: 52px;
    font-weight: bolder;
    letter-spacing: 7px;
}

.oqueerival h3{
    line-height: 35PX;
    margin: 12px 0px;
}

.oqueerival h3::after{
    content: "";
    background: url(../img/separador.svg) no-repeat;
    width: 76px;
    height: 20px;
    display: block;
    margin-top: 10px;
}

.oqueerival p{
    margin: 30px 0 52px;
    font-size: 1.2em;
}

.img-phone{
    margin-top: -30px;
}

.oqueerival .btn{
    
}
/**/

/*CHALLENGES*/
.desafios{
    display: block;
    position: relative;
    width: 100%;
/*    background-color: rgba(255, 0, 0, 0.05);*/
    text-align: center;
    padding-bottom: 60px;
}
.desafios h2{
    text-align: center;
    position: relative;
    top: -40px;
}

.desafios h2 > span.yellow{
    color: #fcc30c;
    position: relative;
    font-weight: 600;
}

/*
.desafio_video{
    margin-top: 30px;
    height: 360px;
    border: 4px solid red;
}

.desafio_text{
    text-align: left;
    padding: 30px 0;
}

.desafio_text h2{
    margin-top: 30px;
}

.desafio_text h2::after{
    content: "";
    background: url(../img/separador.svg) no-repeat;
    width: 76px;
    height: 20px;
    display: block;
    margin-top: 8px;
}
.desafio_text p{
    margin-top: 36px;
}
*/

.desafios img{
    width: 100px;
}

.desafios h3::after{
    content: "";
    background: url(../img/separador.svg) no-repeat;
    width: 76px;
    height: 20px;
    display: block;
    margin: 8px auto;
}

.desafios .btn{
    margin-top: 50px;
}

.desafios img{
    width: 80px;
    height: 72px;
    margin: 10px auto;
}

/*PLANOS*/
.planos {

    background: url(../img/planosbg.png) no-repeat center;
    background-size: cover;
    position: relative;
    padding: 50px 0;
    text-align: center;
}
.planos-box{
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 40px;
    border: 2px solid transparent;
    height: 350px;
    
    transition: all .3s ease;
    -webkit- transition: all .3s ease;
    -o- transition: all .3s ease;
    -moz- transition: all .3s ease;
}

.planos-box:hover{
    border: 2px solid #fcc30c;
}

.planos h2{
    font-weight: 500;
    margin-bottom: 40px
}
.planos h3{
    color: #fcc30c;
    margin: 30px auto 60px auto;
}

.planos h4::after{
    content: "";
    background: url(../img/separador.svg) no-repeat;
    width: 76px;
    height: 20px;
    display: block;
    margin: 8px auto;
}

.planos h4{
    font-weight: 600;
    margin: 15px auto;
}

.planos ul li{
    text-align: left;
    font-size: 1.2em;
    background: url(../img/marcador-lista.svg) no-repeat left;
    background-size: 20px;
    padding-left: 30px;
    margin: 8px;
}

.planos .planos-box:nth-of-type(2) ul li, .planos .planos-box:nth-of-type(3) ul li{
    margin: 0 auto;
    width: 210px;
    text-align: center;
}

.planos ul li > span{
    margin-left: 4px;
    font-weight: 600;
    color: #76ff00;
}

.planos ul p{
    margin: 20px auto;
    color: grey;
}

/**/






















/*SLIDER*/
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.rslides_tabs {

}
.rslides_tabs li{
    display: inline-block;
    margin: 30px 4px;
}
.rslides_tabs li a{
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid red;
    color: #47193b;
    text-indent: -1000px;

    -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease; 
       
}
.rslides_tabs li a:hover{ 
    background-color: red;
}

.rslides_here{
    background-color: red;
}

/*/SLIDER*/
/**/

/*CONTATO*/
/*
.formphp label.nao-aparece, .formphp input.nao-aparece {
	display: none !important;
}

#form-erro span, #form-send span  {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 10px;
	display: block;
}

#form-send {
	color: #31aa39;
}

#form-erro {
	color: #f64540;
}

.contato{
	color: black;
	position: relative;
	margin: -100px auto 50px;
}

.form_contato input, .form_contato label, .form_contato button, .form_contato textarea{
	display: block;
	outline: none;
	background: none;
}

.form_contato input, .form_contato textarea{
	border: 4px dotted #c01200;
	padding: 6px;
	margin-bottom: 20px;
}

.form_contato label{
	font-size: 14px;
	font-weight: bold;
}

.form_contato input{
	width: 320px;
}

.form_contato textarea{
	width: 430px;
	height: 150px;
	line-height: 18px;
}
*/


/*FOOTER*/
footer{
	display: block;
	position: relative;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
    padding: 40px 0;
}

footer img{
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
footer .anounce{
    display: block;
    margin: 0 auto;
    text-align: center;
}

footer h3 > span{
    color: red;
}
footer h4 > span{
    color: #fcc30c;
}

.rights{
    padding: 4px 20px;
	background-color: rgba(0, 0, 0, 0.6);
    display: block;
	position: relative;
	width: 100%;
}

.rights p{
    color: #81424e;
    display: inline-block;
}

.rights p:last-of-type{
    float: right;
}

/*RESPONSIVO*/
@media only screen and (max-width: 767px) {
    .container {
        width: 300px;
    }

    .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-1-3 {
        width: 300px;
        margin: 0 0 20px 0;
        float: none;
    }
    
    .oqueerival{
        background-size: 100% 1200px;
    }
    .img-phone{
        display: none;
    }

    .desafios{
        padding: 60px 0;
    }
}

